body {
	margin: 15px 10px 0 10px;
	font-family: "Lucida Console", Monaco, monospace;
}

#input-terminal, #editor {
	border: 1px solid #aaa;
	margin: 0 5px 5px 5px;
}
#input-editor {
	height: 400px;
}
#input-editor p {
	margin: 10px 5px 0 0;
}
#editor {
	height: 355px;
	background-color: black;
	color: white;
	padding: 5px;
}
#stats {
	margin: 5px 0 0 0;
}
#stats ul {
	list-style-type: none;
}
#stats li {
	padding: 2px;
}
#stats span.stat {
	display: inline-block;
	width: 50px;
	font-weight: bold;
}

.top-breathe {
	margin-top: 15px
}

.overflow-y {
	height: 400px;
	overflow-y: auto;
}

.red-alert {
	color: red;
}
#tab-links li a, #page-links li a, #input-links li a {
	outline: none; /* no ugly focus when clicking tabs */
}
#stash {
	visibility: hidden;
}

.disabled {
	text-decoration: line-through;
}

nav .glyphicon {
	font-size: medium;
}
.overall-stats {
	font-style: italic;
}


.completed-task {
	text-decoration: line-through;
}
.completed-task * {
	text-decoration: none !important;
}
.completed-assignment {
	text-decoration: line-through !important;
}

.loading-gif {
	display: 	none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background-color: #060606;
    background-image: url('img/loading.gif');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, loading element will be visible */
body.loading .loading-gif {
    display: block;
}

#menu-right a {
	cursor: pointer;
}

/*Some server-side css */
.msg-validate-user {
	display: none;
}

#ass-try-it-out img {
	display: block;
	margin: 5px auto 5px auto;
}

.text-right {
	text-align: right;
}

.assignment-separator {
	font-weight: bold;
	text-transform: uppercase;
}